#map {
    height: 90vh;
    width: 100hw;
}

/* Estilo del titulo. */
h1 {
    color:darkblue;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    margin: 0 0 24px 0;
    text-align: center;
}

/* Estilo del seleccionador. */
Select{
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Estilo del Control al pasar el cursor. */
.info { 
    padding: 6px 8px; 
    font: 14px/16px Arial, Helvetica, sans-serif; 
    background: white; 
    background: rgba(255,255,255,0.8); 
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
    border-radius: 5px; 
} 

.info h4 { 
    margin: 0 0 5px; 
    color: #777; 
}

/* Agrega funcionalidad de cursor sobre el Sidebar. */
#sidebar li:hover{
    cursor: pointer;
    font-weight: bold;
}

.hidden {
    display: none;
}