#map {
    height: 100vh;
    width: 100hw;
}

/* Estilo del titulo. */
h1 {
    color:darkblue;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    margin: 0 0 24px 0;
    text-align: center;
}

/* Estilo del seleccionador. */
Select{
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Estilo del Control al pasar el cursor. */
.info { 
    padding: 6px 8px; 
    font: 14px/16px Arial, Helvetica, sans-serif; 
    background: white; 
    background: rgba(255,255,255,0.8); 
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
    border-radius: 5px; 
} 

.info h4 { 
    margin: 0 0 5px; 
    color: #777; 
}

/* Agrega funcionalidad de cursor sobre el Sidebar. */
#sidebar li {
    cursor: pointer;
    font-weight: bold;
    overflow: auto; /* Asegura que el contenido no se desborde */
}

.hidden {
    display: none;
}

/* Estilo del boton de Control de Basemaps. */
.leaflet-control-layers-toggle {
    background-image: url(assets/interface/worldwide.png);
    width: 36px;
    height: 36px;
}	
.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(assets/interface/worldwide.png);
    background-size: 26px 26px;
}

#sidebar {
    width: 128px; /* Establece el ancho de la barra lateral */
    overflow: auto; /* Asegura que el contenido no se desborde */
    border-radius: 15px;
    padding: 0;
    margin: 0;
}

#button-container {
    margin: 5px 0px 0px; 
    width: 100%; /* Asegura que el contenedor de botones no sea más ancho que la barra lateral */
    overflow: auto; /* Asegura que los botones no se desborden */
}

.accordion-button {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.accordion-button-icon::before {
    content: '▲'; /* Icon for when the accordion is open */
}

.accordion-button.collapsed .accordion-button-icon::before {
    content: '▼'; /* Icon for when the accordion is closed */
}
